
.button
{
	color: #666666;
	background-color: #eeeeee;
	border-color: #eeeeee;
	font-weight: 300;
	font-size: 16px;
	font-family: 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	height: 40px;
	padding: 0 40px;
	margin: 0;
	display: inline-block;
	/*appearance: none;*/
	cursor: pointer;
	border: none;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
	-webkit-transition-property: all;
			transition-property: all;
	-webkit-transition-duration: .3s;
			transition-duration: .3s;
}

.button:visited
{
	color: #666666;
}

.button:hover,
.button:focus
{
	background-color: #f6f6f6;
	text-decoration: none;
	outline: none;
}

.button:active,
.button.active,
.button.is-active
{
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	text-decoration: none;
	background-color: #eeeeee;
	border-color: #cfcfcf;
	color: #d4d4d4;
	-webkit-transition-duration: 0s;
			transition-duration: 0s;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button:disabled,
.button.disabled,
.button.is-disabled
{
	top: 0 !important;
	background: #EEE !important;
	border: 1px solid #DDD !important;
	text-shadow: 0 1px 1px white !important;
	color: #CCC !important;
	cursor: default !important;
}

.button:disabled else,
.button.disabled else,
.button.is-disabled else
{
	-webkit-box-shadow: none !important;
			box-shadow: none !important;
	opacity: .8 !important;
}

.button-action,
.button-action-flat
{
	background-color: #a5de37;
	border-color: #a5de37;
	color: white;
}

.button-action:visited,
.button-action-flat:visited
{
	color: white;
}

.button-action:hover,
.button-action-flat:hover,
.button-action:focus,
.button-action-flat:focus
{
	background-color: #b9e563;
	border-color: #b9e563;
	color: white;
}

.button-action:active, .button-action.active, .button-action.is-active,
.button-action-flat:active, .button-action-flat.active, .button-action-flat.is-active
{
	background-color: #a1d243;
	border-color: #a1d243;
	color: #8bc220;
}

.button-caution,
.button-caution-flat
{
	background-color: #ff4351;
	border-color: #ff4351;
	color: white;
}

.button-caution:visited,
.button-caution-flat:visited
{
	color: white;
}

.button-caution:hover,
.button-caution-flat:hover,
.button-caution:focus,
.button-caution-flat:focus
{
	background-color: #ff7680;
	border-color: #ff7680;
	color: white;
}

.button-caution:active, .button-caution.active, .button-caution.is-active,
.button-caution-flat:active, .button-caution-flat.active, .button-caution-flat.is-active
{
	background-color: #f64c59;
	border-color: #f64c59;
	color: #ff1022;
}


.button-circle
{
	border-radius: 100%;
}

.button-circle,
.button-box,
.button-square
{
	padding: 0 !important;
	width: 40px;
}

.button-circle.button-small,
.button-box.button-small,
.button-square.button-small
{
	width: 30px;
}

.button-circle.button-tiny,
.button-box.button-tiny,
.button-square.button-tiny
{
	width: 24px;
}

.button-small
{
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	padding: 0 30px;
}

.button-tiny
{
	font-size: 9.6px;
	height: 24px;
	line-height: 24px;
	padding: 0 24px;
}
